@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #34495e;
}

.logo {
    text-align: center;    
    color: #fff;
    font: 3rem "Ubuntu", sans-serif;
    margin-bottom: 4rem;
}

.label {
    text-align: center;    
    color: #fff;
    font: 2rem sans-serif;
    margin-bottom: 50px;
}

.button {
    font: 1rem "Ubuntu", sans-serif;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 0;
    width: 100px;
    text-align: center;
    margin: 0 auto 4rem;
}

.button:hover {
    color: #34495e;
    background-color: #fff;
}

.control-buttons {
    display: flex;
    justify-content: center;
    justify-items: stretch;
}

.control-buttons > .button {
    margin: 0 2rem;
}