@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$font-color: #fff;
$background-color: #34495e;

a {
    color: $font-color;
    text-decoration: none;
}

body {
    background-color: $background-color;
}

.container {
    display: grid;
    grid-template-areas:
        "menu list content";
    grid-template-columns: auto 1fr 4fr;
}

.content {
    grid-area: content;
}

.logo {
    text-align: center;    
    color: $font-color;
    font: 3rem "Ubuntu", sans-serif;
    margin-bottom: 4rem;
}

.label {
    text-align: center;    
    color: $font-color;
    font: 2rem sans-serif;
    margin-bottom: 50px;
}

.button {
    font: 1rem "Ubuntu", sans-serif;
    background: transparent;
    border: 1px solid #fff;
    color: $font-color;
    padding: 0.5rem 0;
    width: 100px;
    text-align: center;
    margin: 0 auto 4rem;
}

.button:hover {
    transition: background-color 0.4s ease-out, color 0.25s;
    color: #34495e;
    background-color: #fff;
}

.control-buttons {
    display: flex;
    justify-content: center;
    justify-items: stretch;
}

.control-buttons > .button {
    margin: 0 2rem;
}

.article {
    width: 80%;
    margin: 0 auto;
    color: $font-color;
    font: 1.25rem sans-serif; 
}

.article-title {
    padding-left: 1rem;
    border-left: 0.5rem solid #fff;
}

.modal-window {
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: block;
  }

// .modal-background {
//     position: fixed;
//     z-index: 9998;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.3);
// }

.menu-bar {
    grid-area: menu;
    border-right: 2px solid #fff;
}

.lessons-logo >  {
    & svg {
        width: 145px;
        height: 145px;
        fill: #fff;
        & line, & path {
            stroke: #fff !important;
            fill: #fff !important;
        }
    }

}

.menu-bar-item {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-bottom: 1px solid #fff;
    &:hover {
        background-color: darken($background-color, 10%);
        cursor: pointer;
    }
}

.menu-bar-button {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.lessons-list {
    grid-area: list;
    text-align: center;
    height: 100vh;
    min-width: 180px;
    border-right: 2px solid #fff;
    h1 {
        color: $font-color;
    }
    a:hover {
        color: darken($font-color, 25%);
        transition: color 0.3s;
    }
}