@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #34495e;
}

.logo {
    text-align: center;    
    color: #fff;
    font: 3rem "Ubuntu", sans-serif;
    margin-bottom: 4rem;
}

.label {
    text-align: center;    
    color: #fff;
    font: 2rem sans-serif;
    margin-bottom: 50px;
}

.button {
    font: 1rem "Ubuntu", sans-serif;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 0;
    width: 100px;
    text-align: center;
    margin: 0 auto 4rem;
}

.button:hover {
    transition: background-color 0.4s ease-out, color 0.25s;
    color: #34495e;
    background-color: #fff;
}

.control-buttons {
    display: flex;
    justify-content: center;
    justify-items: stretch;
}

.control-buttons > .button {
    margin: 0 2rem;
}

.article {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font: 1.25rem "Ubuntu", sans-serif; 
}

.article-title {
    padding-left: 1rem;
    border-left: 0.5rem solid #fff;
}

.modal-window {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    min-width: 300px;
    min-height: 250px;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%)
}

.modal-window > div {
    margin-bottom: 1.5rem; 
}

.modal-background {
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
